body {
  overflow-x: hidden;
  width: 100vw;
}

#reframer_container {
  overflow-x: hidden;
  margin-left: 2.5vw;
  width: 95vw;
}

/* Responsive layout */ 
@media screen and (max-width: 800px) {
  #navReframers {
    display: none;
  }
}