.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bio {
  padding: 25px;
  margin-top: 20px;
  margin-left: 2.5vw;
  width: 95vw;
}

#bio_img {
  border-radius: 16px;
  min-width: 300px;
  max-width: 100%;
  object-fit: cover;
  margin-top: 20px;
}

#bio_text {
  margin-top: 20px;
  min-width: 300px;
}

#bio_text a {
  background-color: none;
  color: #1b5873;
  text-decoration: #1b5983 wavy underline;
}

#bio_text a:hover {
  background-color: #00b1ff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.topic_image {
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

.topic_text {
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#human-centred-design {
  outline: 5px solid #918ef4;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

#technology {
  outline: 5px solid #98b9f2;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

#entrepreneurship-and-leadership {
  outline: 5px solid #306bac;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

#charity-and-more {
  outline: 5px solid #141b41;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

/* Responsive layout */ 
@media screen and (max-width: 800px) {
  #navAbout {
    display: none;
  }
}
