.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* BIO SECTION */
.bio {
  padding: 10px;
  margin-top: 20px;
  margin-left: 5vw;
  width: 90vw;
}

#bio_img {
  border-radius: 16px;
  min-width: 300px;
  max-width: 100%;
  object-fit: cover;
  margin-top: 20px;
}

#bio_text {
  margin-top: 20px;
  min-width: 300px;
}

#bio_text a {
  background-color: none;
  color: #1b5873;
  text-decoration: #1b5983 wavy underline;
}

#bio_text a:hover {
  background-color: #00b1ff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

/* PORTFOLIO SECTION */
#portfolio_container {
  outline: 5px solid #918ef4;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 5vw;
  width: 90vw;
}

#portfolio_selector {
  text-align: center;
  width: 100%;
}

.topic_image {
  min-width: 300px;
  max-width: 100%;
  object-fit: cover;
  margin-top: 20px;
}

#hcd_chart {
  min-height: 300px;
  max-width: 85vw;
}

#all_heading, #tech_heading, #bs_heading, #entrepereneurship_heading, #purpose_heading {
  padding: 5px;
}

#all_heading:hover, #tech_heading:hover, #bs_heading:hover, #entrepereneurship_heading:hover, #purpose_heading:hover {
  cursor: pointer;
  border-radius: 16px;
  background-color: #f5f5f5;
}

#topic_text {
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  min-width: 300px;
}


/* Responsive layout */ 
@media screen and (max-width: 800px) {
  #navAbout {
    display: none;
  }
}
