.row {
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.bio {
  position: relative;
  text-align: center;
  background-color: #aedcc0;
  padding: 10px;
  margin-top: 20px;
  margin-left: 2.5vw;
  width: 95vw;
  border-radius: 25px;
}

.topic_image {
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

.topic_text {
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#human-centred-design {
  outline: 5px solid #918ef4;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

#technology {
  outline: 5px solid #98b9f2;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

#entrepreneurship-and-leadership {
  outline: 5px solid #306bac;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

#charity-and-more {
  outline: 5px solid #141b41;
  margin: 50px;
  padding: 10px;
  border-radius: 25px;
}

/* Responsive layout */ 
@media screen and (max-width: 800px) {
  #navAbout {
    display: none;
  }
}
